<div class="border rounded-3 p-3">

    {{!-- Goal controls --}}
    <div class="d-flex justify-content-around align-items-center mb-2">

        {{!-- Accomplished checkbox --}}
        <div>
            <input class="form-check-input me-1 goalAccomplishedCheckbox"
                   id="goalAccomplished_{{id}}"
                   name="goalIsAccomplished"
                   value="true"
                   data-init-value="{{accomplished}}"
                   data-goal-id="{{id}}"
                   type="checkbox"
                   {{#if accomplished}}checked{{/if}}
            />
            <label class="form-check-label" for="goalAccomplished_{{id}}">Accomplished</label>
        </div>

        {{!-- Private toggle switch --}}
        <div class="form-check form-switch goalPrivacyToggle">
            <input class="form-check-input"
                   id="goalPrivate_{{id}}"
                   name="goalIsPrivate"
                   value="true"
                   data-init-value="{{private}}"
                   data-goal-id="{{id}}"
                   type="checkbox"
                   role="switch"
                   {{#if private}}checked{{/if}}
            />
            <label class="form-check-label" for="goalPrivate_{{id}}">Private</label>
        </div>

        {{!-- Milestones toggle button --}}
        <button class="btn btn-outline-primary btn-sm milestonesToggleBtn"
                id="goalMilestones_{{id}}"
                data-bs-toggle="button"
                aria-pressed="false"
                type="button"
        >Milestones</button>
    </div>

    {{!-- Goal title --}}
    <label for="goalTitle_{{id}}" class="form-label d-none goalTitle">Goal Title</label>
    <input class="form-control"
           id="goalTitle_{{id}}"
           type="text"
           placeholder="Goal"
           value="{{title}}"
           data-init-value="{{title}}"
           data-goal-id="{{id}}"
    />
</div>
