<div class="border border-secondary-subtle border-2 rounded-3 p-3">

    {{!-- Goal controls --}}
    <div class="d-flex justify-content-around align-items-center mb-2">

        {{!-- Accomplished checkbox --}}
        <div>
            <input class="form-check-input me-1"
                   id="goalAccomplished_{{id}}"
                   data-init-value="{{accomplished}}"
                   type="checkbox"
                   {{#if accomplished}}checked{{/if}}
            />
            <label class="form-check-label" for="goal-accomplished_{{id}}">Accomplished</label>
        </div>

        {{!-- Private toggle switch --}}
        <div class="form-check form-switch">
            <input class="form-check-input"
                   id="goalPrivate_{{id}}"
                   data-init-value="{{private}}"
                   type="checkbox"
                   role="switch"
                   {{#if private}}checked{{/if}}
            />
            <label class="form-check-label" for="private-goal_{{id}}">Private</label>
        </div>

        {{!-- Milestones toggle button --}}
        <button type="button" class="btn btn-outline-primary btn-sm milestonesBtn" id="goal-milestones_{{id}}" data-bs-toggle="button" aria-pressed="true">Milestones</button>
    </div>

    {{!-- Goal title --}}
    <label for="goal-title_{{id}}" class="form-label d-none">Goal Title</label>
    <input class="form-control"
           id="goalTitle_{{id}}"
           type="text"
           placeholder="Goal"
           data-init-value="{{title}}"
           value="{{title}}"
    />
</div>
