<li class="list-group-item">
    <div class="d-flex px-4 mb-2 justify-content-between">
        <div>
            <input class="form-check-input me-1"
                   id="milestoneAccomplished_{{id}}"
                   type="checkbox"
                   data-init-value="{{accomplished}}"
                   name="milestoneIsAccomplished"
                   value="true"
                   {{#if accomplished}}checked{{/if}}
            />
            <label class="form-check-label" for="milestoneAccomplished_{{id}}">Accomplished</label>
        </div>

        <button class="btn btn-danger btn-sm shadow"
                id="deleteMilestone_{{id}}"
                data-milestone-id="{{id}}"
                type="button"
        >Delete</button>
    </div>

    <label for="milestoneTitle_{{id}}" class="form-label d-none">Milestone Title</label>
    <input class="form-control"
           id="milestoneTitle_{{id}}"
           name="milestoneTitle"
           value="{{title}}"
           data-init-value="{{title}}"
           placeholder="Milestone"
           type="text"
    />
</li>
